{% extends 'base.html.twig' %}

{% block title %}Instructor index{% endblock %}

{% block body %}
<div class="container w-75">

<h1>Instructors</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Curriculum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.firstname }}</td>
                <td>{{ instructor.lastname }}</td>
                <td>{{ instructor.email }}</td>
                <td>{{ instructor.curriculum.name }}</td>
                <td class="d-flex">
                    <a class="btn btn-wild-yellow" href="{{ path('admin_instructor_edit', {'id': instructor.id}) }}">Update</a>
                    {% include 'admin_instructor/_delete_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary text-white" href="{{ path('admin_instructor_new') }}">Create new</a>
</div>
{% endblock %}
