{% extends 'base.html.twig' %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('chart') }}
        {{ encore_entry_script_tags('chart2') }}
    {% endblock %}
{% block title %}Hello AdminResultController!{% endblock %}

{% block body %}
<div class="container ">
        <h1>Résultats du crew de  {{ app.user.fullName }}</h1>
        <div>
            <canvas id="progress" data-progress-data="{{ chartProgressData }}"></canvas>
        </div>
        <div data-radar-data="{{ chartRadarData }}" id="radar-container" class="d-flex flex-wrap my-5" >

        </div>
</div>
{% endblock %}
