{% extends 'base.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Skill index</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <td style="background-color: {{ skill.color }}">{{ skill.name }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td class="d-flex ">
                        <a class="btn btn-wild-yellow " href="{{ path('admin_skill_edit', {'id': skill.id}) }}">Update</a>
                        {{ include('admin_skill/_delete_form.html.twig') }}
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary text-white" href="{{ path('admin_skill_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}
