<div class="sidebar">
    <a  href="{{ path('admin_home') }}">
        <img class="logo" src="{{ asset('build/images/logo.png' )}}" alt="" width="100px">
    </a>
    <hr>
    <ul class="side-nav">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a class="side-link {{ active == 'privileges'?'active':'' }}" href="{{ path('admin_privileges') }}"><i class="fas fa-chess"></i> Users Privileges</a></li>
        {% endif %}
        <li><a class="side-link {{ active == 'checkpoints'?'active':'' }}" href="{{ path('admin_home') }}"><i class="far fa-clipboard"></i> Checkpoints</a></li>
        <li><a class="side-link {{ active == 'skills'?'active':'' }}" href="{{ path('admin_skill_index') }}"><i class="fas fa-tag"></i> Skills</a></li>
        <li><a class="side-link side-link {{ active == 'curricula'?'active':'' }}" href="{{ path('admin_curriculum') }}"><i class="fas fa-graduation-cap"></i> Curricula</a></li>
        {% if is_granted('ROLE_INSTRUCTOR') %}
        <li><a class="side-link {{ active == 'results'?'active':'' }}" href="{{ path('admin_result_home') }}"><i class="fas fa-poll"></i> Results </a></li>
        {% endif %}
    </ul>
    <hr>
    {% if app.user %}
    <div class="dropdown">
        <span class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            👋 Hello {{ app.user.getFullName }}
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a></li>
        </ul>
    </div>
    {% else %}
        <a class="side-link" href="{{ path('app_login') }}">Sign in</a>
    {% endif %}
</div>